sqlite==3.35.0
altair==4.2.0
langchain
python-dotenv
langchain-community
langchain_chroma
langchain-groq
langchain_huggingface
langchain-text-splitters
chromadb[all]
sentence_transformers
pyyaml==6.0
streamlit==1.15.0
torch==2.1.0
